nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
    color: ghostwhite;
}

nav li {
    float: left;
}

nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: bold 14px/1.5 "system-ui", Helvetica, Arial, sans-serif;
}


nav li a:hover {
    background-color: lightslategray;
}

nav a.active {
    background-color: mediumturquoise;
    color: #DEB887;
}

nav a:visited, a:link {
    color: ghostwhite;
}